<!DOCTYPE html>
<html data-ng-app="movePlannerApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Move Planner2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- font-awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class-"ng-cloak" data-ng-controller="moveController">
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : 'Meme-maker',
          xfbml      : true,
          version    : 'v2.4'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="container">
      <div class="row jumbotron">
        <div class="col-sm-12">
        <form class="form-inline">
            <div class="form-group">
              <label>Street</label>
              <input type="text" class="form-control" data-ng-model="address.street" placeholder="51 Sherbrooke West">
             </div>
          <div class="form-group">
             <label>City</label>
              <input type="text" class="form-control" data-ng-model="address.city" placeholder="Montreal">
          </div>
          <button class="btn btn-default" ng-click="addressSearch()">Submit</button>
        </form>
      </div>
      </div>
      <div class="row">
        <h2 id="greeting" class="greeting text-center">Where do you want to live? {{address.street}} {{address.city}}</h2>
      </div>
      <div class="row">
        <div class="col-xs-12 rounded-image" >
          <img ng-src="{{ streetviewUrl }}" class="img-responsive col-xs-12 col-md-6">
          <div id="map" class="col-xs-12 col-md-6">
            <map center={{center}} zoom="18">
                <marker position={{center}} title={{address.street}}></marker>
            </map>
          </div>
        </div>
      </div>
      <br>
      <div class="row" ng-show="weatherPanel">
          <div class="col-xs-12 col-sm-6 rounded-image">
            <div class="row">
              <div class="col-xs-6">
                <h3>{{today.dayOfWeek}}</h3>
                <h5>{{today.day}}-{{today.month}}-{{today.year}}<h6>
                  <hr class="color-yellow">
              </div>
              <div class="col-xs-6">
                 <i class="fa fa-sun-o fa-4x color-yellow pull-right"></i><br><br>
                 <div class="clearfix visible-xs-block"></div>
                <div class="pull-right"><h4>Temperature:</h4>{{ temperature.temp}} <strong>'C</strong></div>
              </div>
            </div>
              <div class="row">
                <div class="col-xs-12">
                Pressure:{{ temperature.pressure}} hPa <br>
                Humidity: {{ temperature.humidity}} % <br>
                Temp Min: {{ temperature.temp_min}} 'C <br>
                Temp Max: {{ temperature.temp_max}} 'C <br>
                Wind Speed:{{ wind.speed}} m/sec<br>
                Wind Direction: {{ wind.deg}} degree
              </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-offset-1 rounded-image">
              <h3 class="text-center">
                Relevant Wikipedia Links:
              </h3>
              <hr class="color-violet">
                 <ul class="article-list">
                  <li ng-repeat="art in newArticleList | limitTo:7">
                    <a ng-href="art.url">{{art.articleStr}}</a>
                  </li>
                </ul>
          </div>
      </div>
      <br>
      <div class="row" ng-show="NYTimesPannel">
        <div class="col-xs-12 rounded-image">
        <h3 class="text-center">
          New York Times Articles
        </h3>
        <br class="color-violet">
        <ul class="article-list">
          <li ng-repeat="article in newArticles">
              <a ng-href="article.url" target="_blank"> {{ article.headline }}</a>
              <p>{{ article.snipet }}</p>
          </li>
        </ul>
      </div>
      </div>
    </div>
    <hr class="color-violet">
    <footer class="text-center"> 
      MADE WITH <i class="fa fa-heart color-violet"></i> BY <span class="color-violet">ALAN SABERI</span>. FIND THIS ON 
      <a href="https://github.com/alireza-saberi/move-planer2" target="_bank"><span class="color-violet">GITHUB</span></a>
        <div>Version: {{ appSettings.version }}</div>
        <div class="fb-like" data-href="http://127.0.0.1:3000/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </footer>
    <!-- AngularJS modules -->
    <script src="js/angular.min.js"></script>
    <script src="js/ng-map.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/todayFactory.js"></script>
    <script src="js/moveController.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="http://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>
  </body>
</html>