<!DOCTYPE html>
<html data-ng-app="movePlannerApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Move Planner2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class-"ng-cloak" data-ng-controller="moveController">
    <div class="container">
      <div class="row jumbotron">
        <div class="col-sm-12">
        <form class="form-inline">
            <div class="form-group">
              <label>Street</label>
              <input type="text" class="form-control" data-ng-model="address.street" placeholder="51 Sherbrooke West">
             </div>
          <div class="form-group">
             <label>City</label>
              <input type="text" class="form-control" data-ng-model="address.city" placeholder="Montreal">
          </div>
          <button class="btn btn-default" ng-click="addressSearch()">Submit</button>
        </form>
      </div>
      </div>
      <div class="row">
        <h2 id="greeting" class="greeting text-center">Where do you want to live? {{address.street}} {{address.city}}</h2>
      </div>
      <div class="row">
        <div class="col-xs-12 rounded-image" >
          <img ng-src="{{ streetviewUrl }}" class="img-responsive col-xs-12 col-md-6">
<!--           <div id="map" class="col-xs-12 col-md-6"></div> -->
        </div>
      </div>
    </div>
    <hr class="color-violet">
    <footer class="text-center"> MADE WITH <i class="fa fa-heart color-violet"></i> BY <span class="color-violet">ALAN SABERI</span>. FIND THIS ON <a href="https://github.com/alireza-saberi/move-planer2" target="_bank"><span class="color-violet">GITHUB</span></a><div>Version: {{ appSettings.version }}</div></footer>
    <!-- AngularJS modules -->
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/moveController.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
  </body>
</html>