/* ng-cloack */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;

}

.article {
    list-style-type: none;
    padding:100px;
    border-top: 1px solid #CCC;

}

.color-violet {
	color: violet;
	
}

.rounded-image {
	background-color: #CCC;
	border-radius: 10%;
	padding: 10px 10px 10px 10px;

}

img {
	border-radius: 20%;
	max-width: 600px;

}

.color-yellow {
	color: yellow;
	
}


/*iframe {
	border-radius: 20%;
	max-width: 600px;

}*/

/*#map {
        height: 350px;
        background-color: #CCC;
      	border-radius: 20%;

     }*/